<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">    
<!--<link rel="stylesheet" type="text/css" href="/app.css"> -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>-->
  <!--<script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" type="text/javascript"></script>-->

</head>
<body>

<style type="text/css">
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
    .grid.ui{
      margin: 25px;
    }
    
  </style>

  <% if(success && success.length > 0){ %>
    <div class="ui success message">
  <div class="header">
    <%= success %>
  </div>
  </div>
  <% } %>
    <% if(error && error.length > 0){ %>
    <div class="ui error message">
  <div class="header">
    <%= error %>
  </div>
  </div>
  <% } %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui image header">
      <img src="https://openclipart.org/download/247324/abstract-user-flat-1.svg" class="image">
      <span>Register</span>
    </h2>
    <form class="ui large form" action="/register" method="post">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large submit button">Register</button>


      <!--<div class="ui error message"></div>-->

    </form>

    <div><a href="/login">Log In</a>
    </div>
  </div>
</div>