/*#field2{*/
/*    float: left;*/
/*    width: 425px;*/
/*    margin: auto;*/
/*}*/
#list1, #list2{
  float: left;
  width: 94%;
  margin: auto;
}
.selection {
  width:24%;
}
/*#list1, #list2 {*/
/*  font-size:1.2em;*/
/*}*/

#meetingInput {
  margin-top: 16.67px; 
}
#calendar {
  width: 350px;
  margin: auto;
}
p{
  text-align: center;
}
.changetd {
    border: 1px solid blue;
    border-radius: 5px;
}
#smallcalendar {
  margin: auto;
}
.done {
	text-decoration: line-through;
	color: #bdc3c7;
}
span {
    float:right;
}
td:hover { 
    background-color: #0A9BD8;
}
.header {
  margin: auto;
  text-align: center;
  font-weight: bold;
}

/* #meetingInput, #field2, #smallcalendar{
   display: none;
} */
